@use './variables' as *;

body {
  font-family: 'Avenir Next', 'Avenir', 'Gill Sans', 'Trebuchet MS', sans-serif;
  background: radial-gradient(circle at top left, $color-bg-2 0%, $color-bg-1 60%);
  color: $color-text;
}
